:root {
    --verde-dark: #091a09;
    --verde-dark-2: #132a13;
    --verde-medium: #31572c;
    --verde-light: #90a955;

    --light: #ecf39e;
    --black: #070707;
}

.fundo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    animation: aparecer .5s forwards;
}

.modal {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--verde-dark);
    padding: 10px 15px;
    border-radius: 10px;
    gap: 10px;
}

.modal>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal strong {
    color: var(--verde-medium);
    font-size: 1.1rem;
}

.info-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sinopse-modal {
    width: 100%;
    height: 70px;
    overflow-y: scroll;
}

.sinopse-modal::-webkit-scrollbar {
    width: 3px;
}

.sinopse-modal::-webkit-scrollbar-track {
    background-color: var(--verde-medium);
    border-radius: 3px;
}

.sinopse-modal::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 3px;
}

.modal>button {
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--verde-dark);
    color: var(--light);
    transition: 0.3s ease;
}

.modal>button:hover {
    background-color: var(--light);
    color: var(--verde-dark);
    transform: translateY(-3px);
}

.editar-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editar-card>.info-editar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-editar>div {
    display: flex;
    flex-direction: column;
}

.info-editar>div>label {
    margin-left: 2px;
    font-size: 1.2rem;
}

.info-editar>div>label::first-letter {
    text-transform: uppercase;
}

.info-editar>div>input {
    font-size: 1rem;
    border: solid 2px var(--verde-light);
    border-radius: 5px;
    color: var(--black);
    padding: 2px 5px;
}

.info-editar .btn-editar {
    cursor: pointer;
    padding: 5px;
    height: 30px;
    border: solid 2px var(--light);
    border-radius: 5px;
    transition: 0.3s ease;
}

.info-editar>button:hover {
    transform: translateY(-3px);
    background-color: var(--verde-dark-2);
}

.modal>.fechar {
    padding: 3px;
    border-radius: 5px;
    border: 2px solid var(--verde-light);
    font-weight: 700;
}

.card-aviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 25px;
    border: 2px solid var(--light);
    border-radius: 5px;
    background-color: var(--verde-dark);
    transition: 0.3s ease;
}

.info-editar>.box-editar {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.box-editar>.cancelar {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: var(--black);
    --cor-btn: rgba(255, 0, 0, 0.5);
    transition: 0.3s ease;
}

.box-editar>.cancelar:hover {
    background-color: var(--cor-btn);
    transform: translateY(-4px);
}

.box-editar>.salvar {
    background-color: rgba(0, 128, 0, 0.3);
    border-color: var(--black);
    --cor-btn: rgba(0, 128, 0, 0.5);
    transition: 0.3s ease;
}

.box-editar>.salvar:hover {
    background-color: var(--cor-btn);
    transform: translateY(-4px);
}

.card-aviso>h1 {
    text-align: center;
    font-size: 2rem;
}

.card-aviso>h1::first-letter,
.card-aviso>h2::first-letter {
    text-transform: uppercase;
}

.card-aviso>h2 {
    text-align: justify;
    font-size: 1.4rem;
}

.card-aviso:hover {
    transform: translateY(-3px);
}

@media (max-width: 820px) {
    .modal {
        width: 100%;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}