<header class="hearder" onclick="menu()">
  <div class="logo">
    <a href="./index.html">
      <img src="./src/assets/img/book.png" alt="" />
    </a>
  </div>
  <nav class="navegacao">
    <ul class="links">
      <li>
        <a href="./index.html#lista">Listar</a>
      </li>
      <li>
        <a href="./adicionar.html">Adicionar</a>
      </li>
      <li>
        <a href="#">Remover</a>
      </li>
    </ul>
  </nav>
  <div id="burguer">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>